<chat-text
 ng-if="self.isText()"
 text="self.content"
></chat-text>

<img-preview
 ng-if="self.isImage()"
 small-img-link="self.imgThumb()"
 download-link="self.imgDownload()"
 full-img-link="self.imgGetImageOrigin()">
</img-preview>

<a
 ng-if="self.isFile() && self.isReceivMessage"
 href="{{self.content}}" 
 ng-bind="self.toFileString()">
</a>

<a
 style="color: rgb(149, 236, 184)"
 ng-if="self.isFile() && !self.isReceivMessage"
 href="{{self.content}}" 
 ng-bind="self.toFileString()">
</a>

<!-- rgb(149, 236, 184) -->