<style>
    .not-seen-msg {
        font-weight: bold;
    }
</style>
<div class="chat_list" ng-class="{'active_chat': self.isChosen}" style="cursor: pointer;">
    <div class="chat_people">
        <div class="chat_img">
            <!-- <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> -->
            <avatar
             img-src="self.imgSrc"
             user-name="self.showName()">
            </avatar>
         </div>
            
        <div class="chat_ib">
            <h5 ng-class="{'not-seen-msg' : !self.isSeenYet}">{{self.showName()}}
                <div 
                 class="badge badge-secondary" 
                 style="vertical-align:middle;padding-bottom: 0px;"
                 ng-style="{'background-color':self.labelColor}"
                 ng-bind="self.company">
                </div>
                <span class="chat_date">
                    {{self.time | date: "MM/dd/yyyy 'at' h:mma"}}
                </span>
            </h5>
            <!-- <p>Test, which is a new approach to have all solutions astrology under one roof.</p> -->
            <!-- <p ng-bind="self.latestMesg"></p> -->
            <p style="text-overflow: ellipsis">
                <chat-text text="self.showMsg()"></chat-text>
            </p>
        </div>
    </div>
</div>