<div class="inbox_people">
    <div class="headind_srch">
        <div class="recent_heading">
            <h4>Recent</h4>
        </div>
        <div class="srch_bar">
            <div class="stylish-input-group">
                <input type="text" class="search-bar" placeholder="Search">
                <span class="input-group-addon">
                    <button type="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="inbox_chat" style="height: 92%;">
        <inbox-people 
         ng-repeat="people in self.listPeople track by $index"
         is-chosen="people.isChosen"
         people-name="people.name"
         latest-mesg="people.getLatestMsg().content"
         time="people.getLatestMsg().sendAt"
         ng-click="self._chooseConversation(people)"
         >
        </inbox-people>
        
    </div>
</div>