<nav class="navbar navbar-light" style="border-bottom: solid 1px #999;position: relative;">
    <a class="navbar-brand" href="#"></a>
    <a href="#" style="color: black" ng-click="self.logout()">Logout</a>
    
</nav>
<div class="mesgs">
    <div class="msg_history">
        <message 
         ng-repeat="m in self.listMessage track by $index"
         user-name="m.User.username"
         avatar="m.avatar"
         text="m.content"
         is-sent-mesg="m.isSent()"
         time="m.sendAt"
         type="m.type">
        </message>
    
    </div>
    <div class="type_msg">
        <div class="input_msg_write">
            <!-- <input type="text-" class="write_msg" placeholder="Type a message" /> -->
            <textarea 
             placeholder="Type a message" 
             style="width: 100%;height: 105px"
             ng-model="self.text"></textarea>
            <button class="msg_send_btn" type="submit" ng-click="self.submitText()">
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
    </div>
</div>