<div class="incoming_msg">
    <div class="incoming_msg_img">
        <img ng-if="!self.avatar" ng-src="https://ptetutorials.com/images/user-profile.png">
        <img ng-if="self.avatar" ng-src="{{self.avatar}}">

    </div>
    <div class="received_msg">
        <div class="received_withd_msg">
            <!-- <p>Test, which is a new approach to have</p> -->
            <p ng-bind="self.text"></p>
            <span class="time_date">{{self.time | date: "MM/dd/yyyy 'at' h:mma"}}</span>
        </div>
    </div>
</div>